*{
  /* background-color: beige; */
  font-size: 50px;
  margin:0;

}
.App {
  margin-left: 40%;

}

h1{
  /* border-radius: 20%; */
  /* background-color: peru; */
  /* width: fit-content; */
  text-align: center;
}

.button{
  width: 150px;
  height: 150px;
  background-color: greenyellow;
  margin: 0;
  padding: 0;

}

.button:active{
  background-color: grey;
  position: relative;
}

.button:hover{
  background-color: palegreen;
}

.refresh{
 background-image: url("../src/image/refresh.jpg"); 
 background-color: transparent;
 background-repeat: no-repeat;
 width: 41px;
 height: 41px;
}